<header class="intro">
  <h2 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </>

  <h2 class="intro__tagline">I'm
    <span class="name">{{site.name}}</span>, a design-minded software engineer &amp; data scientist focused on developing user-friendly apps &amp; products
    <span class="emoji technologist"></span>
  </h2>

  {% if site.blog_enabled %}
  <h3 class="intro__contact">
    <span>Go to</span>
    <span class="emoji pointer"></span>
    <span>
      <a href="{{ site.url }}{{ site.baseurl }}blog" target="_blank" class="highlight-link">My Blog</a>
    </span>
  </h3>
  {% endif %}

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:{{site.email}}" target="_blank" class="highlight-link">{{site.email}}</a>
    </span>
  </h3>

  <div class="arrows">
    <div class="arrow arrow-first"></div>
    <div class="arrow arrow-second"></div>
  </div>
</header>

